.tagCard{
    border-radius:10px;
    height:25px;
    padding-left:5px;
    padding-right:5px;
    padding-top:10px;
    padding-bottom:3px;
    box-shadow: 0px 1px 2px 1px rgb(77, 194, 255,0.5);
    margin-right:10px;
    margin-bottom:10px;
    line-height:15px;
    transition:background-color 0.3s ease
}

.tagCard:hover{
    box-shadow: 0px 1px 2px 1px rgb(77, 194, 255);
    cursor:pointer;
}

.tagCard.selected{
    background-color:rgb(77, 194, 255);
    box-shadow:0px 1px 2px 1px white;
  
}